header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
}
  
header, footer {
    background: #37678c;
    color: white;
    padding: 16px;
}
  
  #logo-header {
    font-size: 32px;
}
  
  a {
    text-decoration: none;
    color: white;
  }
  
  main {
    background-color: #67aae1;
    padding: 16px;
    color: white;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
/*  img {
    margin: 12px;
  }
  */
  
  .rede-social {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 8px;
  }

  /* Aplicação das propriedades flex box */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li, .rede-social {
  margin-left: 48px;
  }

